<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stanje na Granicama</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="sidebar">
      <h2>Stanje na Granicama</h2>
      <ul>
        {% for granica, data in places_dict.items() %}
        <li>
          <a href="?granica={{ granica }}"
            >{{ granica.replace('_', ' ').title() }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      {% block content %}
      <!-- Page-specific content will go here -->
      {% endblock %}
    </div>
  </body>
</html>
